.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.448);
  backdrop-filter: blur(3px);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup {
  width: 620px;
  height: 100px;
  background-color: #fff;
  border-radius: 12px;
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  & div {
    display: flex;
  }
}
