#root {
  width: 100vw;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(246, 250, 253, 0.9);
}

.container {
  display: flex;
  height: 100%;
}

aside {
  flex: 0 0 90px;
  display: flex;
  flex-direction: column;
}

.logo {
  flex: 0 0 90px;
  box-sizing: border-box;
  border-bottom: 1px solid #eaeef4;
  border-right: 1px solid #eaeef4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar {
  flex: 1 0 auto;
  border-right: 1px solid #eaeef4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  gap: 20px;
}
.sidebar-item {
  border-radius: 50%;
  box-sizing: border-box;
  border: 1px solid #eaeef4;
  background-color: #fff;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all 0.1s 0s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar-item:hover {
  box-shadow: inset 0px 0px 0px 2px #514ef3;
}
.sidebar-item:active {
  background-color: #3431e4;
}
.sidebar-item.active {
  background-color: #514ef3;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  flex: 0 0 90px;
  box-sizing: border-box;
  display: flex;
  border-bottom: 1px solid #eaeef4;
}
.header-title {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  padding: 0 24px;
  font-size: 24px;
  font-weight: 700;
}
.header-actions {
  flex: 0 0 417px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}
.header-actions__user {
  margin-right: 24px;
}
.header-actions.aside-block {
  background-color: rgba(238, 246, 251, 0.9);
}

.button {
  height: 50px;
  border-radius: 25px;
  box-sizing: border-box;
  border: 1px solid #eaeef4;
  background-color: #fff;
  padding: 0 20px;
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px;
  line-height: 30px;
  color: #fff;
  background-color: rgb(81, 78, 243);
  cursor: pointer;
  transition: all 0.1s 0s;
}
.button svg {
  display: flex;
}
.button:hover {
  background-color: rgb(28, 24, 242);
}

.search {
  border-radius: 50%;
  box-sizing: border-box;
  border: 1px solid #eaeef4;
  background-color: #fff;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.1s 0s;
}
.search:hover {
  box-shadow: inset 0px 0px 0px 2px #514ef3;
}
.search:hover svg path {
  fill: #514ef3;
}

.user {
  border-radius: 50%;
  box-sizing: border-box;
  border: 1px solid #eaeef4;
  background-color: #fff;
  width: 50px;
  height: 50px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  height: 100%;
  width: 100%;
}

.filters {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  gap: 20px;
}
.filters-title {
  flex: 1 0 auto;
  text-align: left;
  font-size: 16px;
  font-weight: 700;
}
.filters-sort {
  height: 50px;
  border-radius: 25px;
  box-sizing: border-box;
  border: 1px solid #eaeef4;
  background-color: #fff;
  padding: 0 20px;
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px;
  line-height: 30px;
  cursor: pointer;
  transition: all 0.1s 0s;
}
.filters-sort svg {
  display: flex;
}
.filters-sort:hover {
  box-shadow: inset 0px 0px 0px 2px #514ef3;
}
.filters-sort:hover svg path {
  fill: #514ef3;
}
.filters-filter {
  height: 50px;
  border-radius: 25px;
  box-sizing: border-box;
  border: 1px solid #eaeef4;
  background-color: #fff;
  padding: 0 20px;
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px;
  line-height: 30px;
  cursor: pointer;
  transition: all 0.1s 0s;
}
.filters-filter svg {
  display: flex;
}
.filters-filter:hover {
  box-shadow: inset 0px 0px 0px 2px #514ef3;
}
.filters-filter:hover svg path {
  fill: #514ef3;
}

.spreadsheet {
  padding: 0 24px;
}
.spreadsheet-title {
  color: #7e92a2;
  line-height: 30px;
  height: 60px;
  border-bottom: 1px solid #eaeef4;
}
.spreadsheet-content {
  height: 79px;
  border-bottom: 1px solid #eaeef4;
}
.column {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  gap: 24px;
  padding: 0 12px;
}
.column-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 44px;
}
.column-picture__pic {
  border-radius: 50%;
  box-sizing: border-box;
  border: 1px solid #eaeef4;
  background-color: #fff;
  width: 44px;
  height: 44px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.column-name {
  flex: 1 0 300px;
}
.column-area {
  flex: 0 0 60px;
}
.column-area span {
  font-size: 10px;
  vertical-align: top;
}
.column-date {
  flex: 1 0 200px;
}
.column-price {
  flex: 0 0 80px;
}
.column-status {
  flex: 0 0 120px;
}
.column-edit {
  flex: 0 0 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.column-edit button {
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.column-edit button svg {
  width: 24px;
  height: 24px;
}
.column-edit:hover button svg path {
  fill: #514ef3;
}

.status {
  width: 120px;
  height: 40px;
  border-radius: 20px;
  font-size: 12px;
  color: #514ef3;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  background-color: #ececfe;
}
.status.closed {
  color: #092c4c;
  background-color: #cbf9da;
}/*# sourceMappingURL=App.css.map */