$color-black: #000;
$color-navy: #092c4c;
$color-blue: #514ef3;
$color-green: #2dc8a8;
$color-yellow: #ffc357;
$color-pink: PINK;
$color-grey90: #526477;
$color-grey70: #7e92a2;
$color-grey50: #d6e1e6;
$color-grey30: #eaeef4;
$color-grey10: #f6fafd;
$color-white: #fff;

@mixin circle-block {
  border-radius: 50%;
  box-sizing: border-box;
  border: 1px solid #eaeef4;
  background-color: #fff;
}

@mixin oval-block {
  height: 50px;
  border-radius: 25px;
  box-sizing: border-box;
  border: 1px solid #eaeef4;
  background-color: #fff;
  padding: 0 20px;
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px;
  line-height: 30px;
  & svg {
    display: flex;
  }
}

#root {
  width: 100vw;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(246, 250, 253, 0.9);
}

.container {
  display: flex;
  height: 100%;
  // width: 100%;
}

// ==================== ASIDE ====================

aside {
  flex: 0 0 90px;
  display: flex;
  flex-direction: column;
}

.logo {
  flex: 0 0 90px;
  box-sizing: border-box;
  border-bottom: 1px solid #eaeef4;
  border-right: 1px solid #eaeef4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar {
  flex: 1 0 auto;
  border-right: 1px solid #eaeef4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  gap: 20px;
  &-item {
    @include circle-block; // width: 50px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all 0.1s 0s;
    &:hover {
      -webkit-box-shadow: inset 0px 0px 0px 2px #514ef3;
      -moz-box-shadow: inset 0px 0px 0px 2px #514ef3;
      box-shadow: inset 0px 0px 0px 2px #514ef3;
    }
    display: flex;
    align-items: center;
    justify-content: center;

    &:active {
      background-color: #3431e4;
    }
    &.active {
      background-color: #514ef3;
    }
  }
}

// ==================== CONTENT ====================

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

// ================ HEADER ================

.header {
  flex: 0 0 90px;
  box-sizing: border-box;
  display: flex;
  border-bottom: 1px solid #eaeef4;
  &-title {
    padding: 0 24px;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    gap: 24px;
    &__back {
      @include oval-block;
      cursor: pointer;
      transition: all 0.1s 0s;
      display: flex;
      align-items: center;
      & svg {
        & path {
          fill: $color-grey90;
        }
      }
      & div {
        display: flex;
      }
      &:hover {
        -webkit-box-shadow: inset 0px 0px 0px 2px #514ef3;
        -moz-box-shadow: inset 0px 0px 0px 2px #514ef3;
        box-shadow: inset 0px 0px 0px 2px #514ef3;
        & svg {
          & path {
            fill: #514ef3;
          }
        }
      }
    }
    &__text {
      display: flex;
      align-items: center;
      // padding-left: 24px;
      font-size: 24px;
      font-weight: 700;
    }
  }
  &-actions {
    flex: 0 0 417px;
    // background-color: #514ef33e;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    // &__action {
    // }
    // &__search {
    // }
    &__user {
      margin-right: 24px;
    }
  }
  &-actions.aside-block {
    background-color: rgba(238, 246, 251, 0.9);
  }
}
// .button {
//   @include oval-block;
//   color: #fff;
//   background-color: rgba(81, 78, 243, 1);
//   cursor: pointer;
//   transition: all 0.1s 0s;
//   & div {
//     display: flex;
//   }
//   &:hover {
//     background-color: rgb(28, 24, 242);
//   }
// }
.search {
  @include circle-block;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.1s 0s;
  &:hover {
    -webkit-box-shadow: inset 0px 0px 0px 2px #514ef3;
    -moz-box-shadow: inset 0px 0px 0px 2px #514ef3;
    box-shadow: inset 0px 0px 0px 2px #514ef3;
    & svg {
      & path {
        fill: #514ef3;
      }
    }
  }
}
.user {
  @include circle-block;
  width: 50px;
  height: 50px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

// ================ MAIN BLOCK ================

main {
  height: 100%;
  width: 100%;
  // flex: 1 1 auto;
}

// ======== DEALS PAGE ========

.filters {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  gap: 20px;
  &-title {
    flex: 1 0 auto;
    text-align: left;
    font-size: 16px;
    font-weight: 700;
  }
  &-sort {
    @include oval-block;
    cursor: pointer;
    transition: all 0.1s 0s;
    & div {
      display: flex;
    }
    &:hover {
      -webkit-box-shadow: inset 0px 0px 0px 2px #514ef3;
      -moz-box-shadow: inset 0px 0px 0px 2px #514ef3;
      box-shadow: inset 0px 0px 0px 2px #514ef3;
      & svg {
        & path {
          fill: #514ef3;
        }
      }
    }
  }
  &-filter {
    @include oval-block;
    cursor: pointer;
    transition: all 0.1s 0s;
    & div {
      display: flex;
    }
    &:hover {
      -webkit-box-shadow: inset 0px 0px 0px 2px #514ef3;
      -moz-box-shadow: inset 0px 0px 0px 2px #514ef3;
      box-shadow: inset 0px 0px 0px 2px #514ef3;
      & svg {
        & path {
          fill: #514ef3;
        }
      }
    }
  }
}

.spreadsheet {
  padding: 0 24px;
  &-title {
    color: $color-grey70;
    line-height: 30px;
    height: 60px;
    border-bottom: 1px solid $color-grey30;
    &__item {
    }
    // font-size: 16px;
  }
  &-content {
    &__item {
      height: 79px;
      border-bottom: 1px solid $color-grey30;
      &:hover {
        background: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0) 0%,
          rgba(236, 236, 254, 0.5) 10%,
          rgba(236, 236, 254, 0.5) 90%,
          rgba(255, 255, 255, 0) 100%
        );
      }
    }
  }
}
.column {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // align-items: center;
  text-align: left;
  gap: 24px;
  padding: 0 12px;
  &-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 44px;
    &__pic {
      @include circle-block;
      width: 44px;
      height: 44px;
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  &-name {
    flex: 1 0 300px;
  }
  &-date {
    flex: 0 0 200px;
  }
  &-area {
    flex: 0 0 60px;
    & span {
      font-size: 10px;
      vertical-align: top;
    }
  }
  &-price {
    flex: 0 0 80px;
  }
  &-status {
    flex: 0 0 120px;
  }
  &-edit {
    flex: 0 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    & button {
      // @include circle-block;
      border: none;
      width: 40px;
      height: 40px;
      border-radius: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: inherit;
      transition: all 0.2s 0s;
      cursor: pointer;
      & svg {
        width: 24px;
        height: 24px;
      }
    }
    &:hover button {
      -webkit-box-shadow: inset 0px 0px 0px 2px $color-blue;
      -moz-box-shadow: inset 0px 0px 0px 2px $color-blue;
      box-shadow: inset 0px 0px 0px 2px $color-blue;
    }
    &:hover button svg path {
      fill: $color-blue;
    }
  }
}
.status {
  width: 120px;
  height: 40px;
  border-radius: 20px;
  font-size: 12px;
  color: $color-blue;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  background-color: #ececfe;
  &.closed {
    color: $color-navy;
    background-color: #cbf9da;
  }
}

// ======== DEALS PAGE ========

.details {
  display: flex;
  height: 100%;
  &-main {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    &__info {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 24px;
      padding: 24px;
    }
    &__middle {
    }
    &__basic {
    }
  }
  &-aside {
    flex: 0 0 417px;
    background-color: rgba(238, 246, 251, 0.9);
    box-sizing: border-box;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    &__record {
    }
    &__log {
    }
  }
}
.record {
  display: flex;
  flex-direction: column;
  border: 1px solid #eaeef4;
  border-radius: 12px;
  background-color: #fff;
  padding: 24px;
  gap: 24px;
  &-title {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-align: left;
  }
  &-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    & label {
      font-size: 16px;
      font-weight: 700;
      text-align: left;
    }
    & input {
      background: #f6fafd;
      font-size: 16px;
      border: 1px solid #eaeef4;
      border-radius: 8px;
      height: 50px;
      box-sizing: border-box;
      padding: 10px 20px;
      &::placeholder {
        color: $color-grey70;
      }
    }
    & input[type='datetime-local'] {
      font-family: inherit;
      color: $color-grey70;
    }
    & input[type='file'] {
      font-family: inherit;
      color: $color-grey70;
      width: 319px;
      // overflow: hidden;
    }
    & button {
      width: 100px;
      justify-content: center;
      align-self: end;
    }
  }
}
.log {
  &-title {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-align: left;
    padding: 24px 0;
  }
  &-items {
    display: flex;
    flex-direction: column;
    &__empty {
      display: flex;
      color: $color-grey70;
      align-items: center;
      justify-content: center;
      gap: 20px;
      margin-bottom: 24px;
      & div:first-child {
        display: flex;
        align-items: center;
      }
    }
  }
  &-loader {
    font-size: 14px;
    color: $color-blue;
    display: flex;
    justify-content: center;
    &__button {
      @include oval-block;
      justify-content: center;
      width: 150px;
      cursor: pointer;
      transition: all 0.1s 0s;
      & div {
        display: flex;
      }
      &:hover {
        -webkit-box-shadow: inset 0px 0px 0px 2px #514ef3;
        -moz-box-shadow: inset 0px 0px 0px 2px #514ef3;
        box-shadow: inset 0px 0px 0px 2px #514ef3;
        & svg {
          & path {
            fill: #514ef3;
          }
        }
      }
    }
  }
}
.log-item {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
  &__mark {
    width: 32px;
    padding-top: 11px;
    box-sizing: border-box;
  }
  &__content {
    flex: 1 1 auto;
    text-align: left;
  }
}
.mark {
  width: 10px;
  height: 10px;
  border: 11px solid #514ef3;
  border-radius: 50%;
}
.log-content {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  &__date {
    color: $color-grey70;
  }
  &__text {
    text-align: left;
  }
  &__image {
    height: 120px;
    background-color: $color-grey50;
  }
}

.information {
  &-item {
    display: flex;
    align-items: center;
    gap: 20px;
    &__image {
      width: 44px;
      height: 44px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__info {
      flex: 1 1 auto;
      text-align: left;
      & div:first-child {
        font-size: 14px;
        line-height: 30px;
        color: $color-grey70;
      }
      & div:last-child {
        font-size: 16px;
        line-height: 30px;
        font-weight: 700;
        color: $color-grey90;
      }
    }
  }
}
.middle {
  display: flex;
  align-items: center;
  padding: 24px;
  gap: 20px;
  background-color: $color-white;
  &-text {
    flex: 1 1 auto;
    text-align: left;
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
  }
  &-edit,
  &-delete {
    flex: 0 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    & button {
      border: none;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: inherit;
      transition: all 0.2s 0s;
      border: 1px solid #eaeef4;
      cursor: pointer;
      & svg {
        width: 24px;
        height: 24px;
      }
    }
    &:hover button {
      -webkit-box-shadow: inset 0px 0px 0px 2px $color-blue;
      -moz-box-shadow: inset 0px 0px 0px 2px $color-blue;
      box-shadow: inset 0px 0px 0px 2px $color-blue;
    }
    &:hover button svg path {
      fill: $color-blue;
    }
  }
  &-delete {
  }
  &-edit {
  }
}

.basic {
  display: flex;
  padding: 24px;
  gap: 24px;

  &-info {
    flex: 1 1 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
    & div:nth-child(7) {
      grid-column-start: 1;
      grid-column-end: 3;
      & div:last-child {
        font-weight: 400;
      }
    }
    // padding: 24px;
  }
  &-image {
    &__pic {
      width: 320px;
      height: 320px;
      background: $color-grey30;
      border-radius: 12px;
    }
  }
}
