$color-black: #000;
$color-navy: #092c4c;
$color-blue: #514ef3;
$color-green: #2dc8a8;
$color-yellow: #ffc357;
$color-pink: PINK;
$color-grey90: #526477;
$color-grey70: #7e92a2;
$color-grey50: #d6e1e6;
$color-grey30: #eaeef4;
$color-grey10: #f6fafd;
$color-white: #fff;

@mixin circle-block {
  border-radius: 50%;
  box-sizing: border-box;
  border: 1px solid #eaeef4;
  background-color: #fff;
}

@mixin oval-block {
  height: 50px;
  border-radius: 25px;
  box-sizing: border-box;
  border: 1px solid #eaeef4;
  background-color: #fff;
  padding: 0 20px;
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px;
  line-height: 30px;
  & svg {
    display: flex;
  }
}

#root {
  // max-width: 1280px;
  width: 100vw;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(246, 250, 253, 0.9);
}

.container {
  display: flex;
  height: 100%;
  // width: 100%;
}

// ==================== ASIDE ====================

aside {
  flex: 0 0 90px;
  display: flex;
  flex-direction: column;
}

.logo {
  flex: 0 0 90px;
  box-sizing: border-box;
  border-bottom: 1px solid #eaeef4;
  border-right: 1px solid #eaeef4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar {
  flex: 1 0 auto;
  border-right: 1px solid #eaeef4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  gap: 20px;
  &-item {
    @include circle-block; // width: 50px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all 0.1s 0s;
    &:hover {
      -webkit-box-shadow: inset 0px 0px 0px 2px #514ef3;
      -moz-box-shadow: inset 0px 0px 0px 2px #514ef3;
      box-shadow: inset 0px 0px 0px 2px #514ef3;
    }
    display: flex;
    align-items: center;
    justify-content: center;

    &:active {
      background-color: #3431e4;
    }
    &.active {
      background-color: #514ef3;
    }
  }
}

// ==================== CONTENT ====================

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

// ================ HEADER ================

.header {
  flex: 0 0 90px;
  box-sizing: border-box;
  display: flex;
  border-bottom: 1px solid #eaeef4;
  &-title {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    padding: 0 24px;
    font-size: 24px;
    font-weight: 700;
  }
  &-actions {
    flex: 0 0 417px;
    // background-color: #514ef33e;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    &__action {
    }
    &__search {
    }
    &__user {
      margin-right: 24px;
    }
  }
  &-actions.aside-block {
    background-color: rgba(238, 246, 251, 0.9);
  }
}
.button {
  @include oval-block;
  color: #fff;
  background-color: rgba(81, 78, 243, 1);
  cursor: pointer;
  transition: all 0.1s 0s;
  &:hover {
    background-color: rgb(28, 24, 242);
  }
}
.search {
  @include circle-block;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.1s 0s;
  &:hover {
    -webkit-box-shadow: inset 0px 0px 0px 2px #514ef3;
    -moz-box-shadow: inset 0px 0px 0px 2px #514ef3;
    box-shadow: inset 0px 0px 0px 2px #514ef3;
    & svg {
      & path {
        fill: #514ef3;
      }
    }
  }
}
.user {
  @include circle-block;
  width: 50px;
  height: 50px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

// ================ MAIN BLOCK ================

main {
  height: 100%;
  width: 100%;
  // flex: 1 1 auto;
}

// ======== DEALS PAGE ========

.filters {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  gap: 20px;
  &-title {
    flex: 1 0 auto;
    text-align: left;
    font-size: 16px;
    font-weight: 700;
  }
  &-sort {
    @include oval-block;
    cursor: pointer;
    transition: all 0.1s 0s;
    &:hover {
      -webkit-box-shadow: inset 0px 0px 0px 2px #514ef3;
      -moz-box-shadow: inset 0px 0px 0px 2px #514ef3;
      box-shadow: inset 0px 0px 0px 2px #514ef3;
      & svg {
        & path {
          fill: #514ef3;
        }
      }
    }
  }
  &-filter {
    @include oval-block;
    cursor: pointer;
    transition: all 0.1s 0s;
    &:hover {
      -webkit-box-shadow: inset 0px 0px 0px 2px #514ef3;
      -moz-box-shadow: inset 0px 0px 0px 2px #514ef3;
      box-shadow: inset 0px 0px 0px 2px #514ef3;
      & svg {
        & path {
          fill: #514ef3;
        }
      }
    }
  }
}

.spreadsheet {
  padding: 0 24px;
  &-title {
    color: $color-grey70;
    line-height: 30px;
    height: 60px;
    border-bottom: 1px solid $color-grey30;
    &__item {
    }
    // font-size: 16px;
  }
  &-content {
    height: 79px;
    border-bottom: 1px solid $color-grey30;
    &__item {
    }
  }
}
.column {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // align-items: center;
  text-align: left;
  gap: 24px;
  padding: 0 12px;
  &-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 44px;
    &__pic {
      @include circle-block;
      width: 44px;
      height: 44px;
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  &-name {
    flex: 1 0 300px;
  }
  &-area {
    flex: 0 0 60px;
    & span {
      font-size: 10px;
      vertical-align: top;
    }
  }
  &-date {
    flex: 1 0 200px;
  }
  &-price {
    flex: 0 0 80px;
  }
  &-status {
    flex: 0 0 120px;
  }
  &-edit {
    flex: 0 0 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    & button {
      // @include circle-block;
      border: none;
      width: 60px;
      height: 60px;
      border-radius: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      & svg {
        width: 24px;
        height: 24px;
      }
    }
    &:hover button svg path {
      fill: $color-blue;
    }
  }
}
.status {
  width: 120px;
  height: 40px;
  border-radius: 20px;
  font-size: 12px;
  color: $color-blue;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  background-color: #ececfe;
  &.closed {
    color: $color-navy;
    background-color: #cbf9da;
  }
}

// ======== DEALS PAGE ========
