#root {
  width: 100vw;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(246, 250, 253, 0.9);
}

.container {
  display: flex;
  height: 100%;
}

aside {
  flex: 0 0 90px;
  display: flex;
  flex-direction: column;
}

.logo {
  flex: 0 0 90px;
  box-sizing: border-box;
  border-bottom: 1px solid #eaeef4;
  border-right: 1px solid #eaeef4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar {
  flex: 1 0 auto;
  border-right: 1px solid #eaeef4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  gap: 20px;
}
.sidebar-item {
  border-radius: 50%;
  box-sizing: border-box;
  border: 1px solid #eaeef4;
  background-color: #fff;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all 0.1s 0s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar-item:hover {
  box-shadow: inset 0px 0px 0px 2px #514ef3;
}
.sidebar-item:active {
  background-color: #3431e4;
}
.sidebar-item.active {
  background-color: #514ef3;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  flex: 0 0 90px;
  box-sizing: border-box;
  display: flex;
  border-bottom: 1px solid #eaeef4;
}
.header-title {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  padding: 0 24px;
  font-size: 24px;
  font-weight: 700;
}
.header-actions {
  flex: 0 0 417px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}
.header-actions__user {
  margin-right: 24px;
}
.header-actions.aside-block {
  background-color: rgba(238, 246, 251, 0.9);
}

.button {
  height: 50px;
  border-radius: 25px;
  box-sizing: border-box;
  border: 1px solid #eaeef4;
  background-color: #fff;
  padding: 0 20px;
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px;
  line-height: 30px;
  color: #fff;
  background-color: rgb(81, 78, 243);
  cursor: pointer;
  transition: all 0.1s 0s;
}
.button svg {
  display: flex;
}
.button:hover {
  background-color: rgb(28, 24, 242);
}

.search {
  border-radius: 50%;
  box-sizing: border-box;
  border: 1px solid #eaeef4;
  background-color: #fff;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.1s 0s;
}
.search:hover {
  box-shadow: inset 0px 0px 0px 2px #514ef3;
}
.search:hover svg path {
  fill: #514ef3;
}

.user {
  border-radius: 50%;
  box-sizing: border-box;
  border: 1px solid #eaeef4;
  background-color: #fff;
  width: 50px;
  height: 50px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  height: 100%;
  width: 100%;
}

.filters {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  gap: 20px;
}
.filters-title {
  flex: 1 0 auto;
  text-align: left;
  font-size: 16px;
  font-weight: 700;
}
.filters-sort {
  height: 50px;
  border-radius: 25px;
  box-sizing: border-box;
  border: 1px solid #eaeef4;
  background-color: #fff;
  padding: 0 20px;
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px;
  line-height: 30px;
  cursor: pointer;
  transition: all 0.1s 0s;
}
.filters-sort svg {
  display: flex;
}
.filters-sort:hover {
  box-shadow: inset 0px 0px 0px 2px #514ef3;
}
.filters-sort:hover svg path {
  fill: #514ef3;
}
.filters-filter {
  height: 50px;
  border-radius: 25px;
  box-sizing: border-box;
  border: 1px solid #eaeef4;
  background-color: #fff;
  padding: 0 20px;
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px;
  line-height: 30px;
  cursor: pointer;
  transition: all 0.1s 0s;
}
.filters-filter svg {
  display: flex;
}
.filters-filter:hover {
  box-shadow: inset 0px 0px 0px 2px #514ef3;
}
.filters-filter:hover svg path {
  fill: #514ef3;
}

.spreadsheet {
  padding: 0 24px;
}
.spreadsheet-title {
  color: #7e92a2;
  line-height: 30px;
  height: 60px;
  border-bottom: 1px solid #eaeef4;
}
.spreadsheet-content__item {
  height: 79px;
  border-bottom: 1px solid #eaeef4;
}
.spreadsheet-content__item:hover {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(236, 236, 254, 0.5) 10%, rgba(236, 236, 254, 0.5) 90%, rgba(255, 255, 255, 0) 100%);
}

.column {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  gap: 24px;
  padding: 0 12px;
}
.column-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 44px;
}
.column-picture__pic {
  border-radius: 50%;
  box-sizing: border-box;
  border: 1px solid #eaeef4;
  background-color: #fff;
  width: 44px;
  height: 44px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.column-name {
  flex: 1 0 300px;
}
.column-area {
  flex: 0 0 60px;
}
.column-area span {
  font-size: 10px;
  vertical-align: top;
}
.column-date {
  flex: 1 0 200px;
}
.column-price {
  flex: 0 0 80px;
}
.column-status {
  flex: 0 0 120px;
}
.column-edit, .column-show {
  flex: 0 0 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.column-edit button, .column-show button {
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  transition: all 0.2s 0s;
  cursor: pointer;
}
.column-edit button svg, .column-show button svg {
  width: 24px;
  height: 24px;
}
.column-edit:hover button, .column-show:hover button {
  box-shadow: inset 0px 0px 0px 2px #514ef3;
}
.column-edit:hover button svg path, .column-show:hover button svg path {
  fill: #514ef3;
}

.status {
  width: 120px;
  height: 40px;
  border-radius: 20px;
  font-size: 12px;
  color: #514ef3;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  background-color: #ececfe;
}
.status.closed {
  color: #092c4c;
  background-color: #cbf9da;
}

.details {
  display: flex;
  height: 100%;
}
.details-main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
.details-main__info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 24px;
  padding: 24px;
}
.details-aside {
  flex: 0 0 417px;
  background-color: rgba(238, 246, 251, 0.9);
  box-sizing: border-box;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.record {
  display: flex;
  flex-direction: column;
  border: 1px solid #eaeef4;
  border-radius: 12px;
  background-color: #fff;
  padding: 24px;
  gap: 24px;
}
.record-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-align: left;
}
.record-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.record-form label {
  font-size: 16px;
  font-weight: 700;
  text-align: left;
}
.record-form input {
  background: #f6fafd;
  font-size: 16px;
  border: 1px solid #eaeef4;
  border-radius: 8px;
  height: 50px;
  box-sizing: border-box;
  padding: 10px 20px;
}
.record-form input::-moz-placeholder {
  color: #7e92a2;
}
.record-form input::placeholder {
  color: #7e92a2;
}
.record-form input[type=datetime-local] {
  font-family: inherit;
  color: #7e92a2;
}
.record-form input[type=file] {
  font-family: inherit;
  color: #7e92a2;
  width: 319px;
}
.record-form button {
  width: 100px;
  font-weight: 500;
  justify-content: center;
  align-self: end;
}

.log-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-align: left;
  padding: 24px 0;
}
.log-items {
  display: flex;
  flex-direction: column;
}
.log-items__empty {
  display: flex;
  color: #7e92a2;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 24px;
}
.log-items__empty div:first-child {
  display: flex;
  align-items: center;
}
.log-loader {
  font-size: 14px;
  color: #514ef3;
  display: flex;
  justify-content: center;
}
.log-loader__button {
  height: 50px;
  border-radius: 25px;
  box-sizing: border-box;
  border: 1px solid #eaeef4;
  background-color: #fff;
  padding: 0 20px;
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px;
  line-height: 30px;
  justify-content: center;
  width: 150px;
  cursor: pointer;
  transition: all 0.1s 0s;
}
.log-loader__button svg {
  display: flex;
}
.log-loader__button:hover {
  box-shadow: inset 0px 0px 0px 2px #514ef3;
}
.log-loader__button:hover svg path {
  fill: #514ef3;
}

.log-item {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
}
.log-item__mark {
  width: 32px;
  padding-top: 11px;
  box-sizing: border-box;
}
.log-item__content {
  flex: 1 1 auto;
  text-align: left;
}

.mark {
  width: 10px;
  height: 10px;
  border: 11px solid #514ef3;
  border-radius: 50%;
}

.log-content {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.log-content__date {
  color: #7e92a2;
}
.log-content__text {
  text-align: left;
}
.log-content__image {
  height: 120px;
  background-color: #d6e1e6;
}

.information-item {
  display: flex;
  align-items: center;
  gap: 20px;
}
.information-item__image {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.information-item__info {
  flex: 1 1 auto;
  text-align: left;
}
.information-item__info div:first-child {
  font-size: 14px;
  line-height: 30px;
  color: #7e92a2;
}
.information-item__info div:last-child {
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  color: #526477;
}

.middle {
  display: flex;
  align-items: center;
  padding: 24px;
  gap: 20px;
  background-color: #fff;
}
.middle-text {
  flex: 1 1 auto;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
}
.middle-edit, .middle-delete {
  flex: 0 0 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.middle-edit button, .middle-delete button {
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  transition: all 0.2s 0s;
  border: 1px solid #eaeef4;
  cursor: pointer;
}
.middle-edit button svg, .middle-delete button svg {
  width: 24px;
  height: 24px;
}
.middle-edit:hover button, .middle-delete:hover button {
  box-shadow: inset 0px 0px 0px 2px #514ef3;
}
.middle-edit:hover button svg path, .middle-delete:hover button svg path {
  fill: #514ef3;
}
.basic {
  display: flex;
  padding: 24px;
  gap: 24px;
}
.basic-info {
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
}
.basic-info div:nth-child(7) {
  grid-column-start: 1;
  grid-column-end: 3;
}
.basic-info div:nth-child(7) div:last-child {
  font-weight: 400;
}
.basic-image__pic {
  width: 320px;
  height: 320px;
  background: #eaeef4;
  border-radius: 12px;
}/*# sourceMappingURL=App.css.map */